body{
    width: 100%;
      overflow-x: hidden;
}
/* font import */
@font-face {
    font-family: blk;
    src: url(blk.TTF);
}
/* top section */
.tl{
height: 500px;
background-color: #EAF6F6; 
font-family: blk;
width: 100.8%;
}
.tlh{
padding: 10% 40%;
    color: #66BFBF;
    font-size: 5rem;
}
/* middle1section */
.defe{
    text-align: center;
    padding: 7% 0;
}
.hdefe{
    font-family: 'Montserrat', sans-serif;
}
.icon{
    color: red;
    margin-bottom: 1rem;
    transition: color 0.3s linear;
}
.icon:hover{
    color: #B31312;
}
.press{
    padding: 7% 15%;
    text-align: center;
}
#press{
    background-color: #66BFBF;
    height: 400px;
    text-align: center;
}
img{
    border-radius: 10%;
}
.cl{
    position: relative;
}
.cl-p{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 21%;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-left: 39.5%;
}
.cl-p{
    display: none;
}
.cl:hover .cl-p{
display: block;
}
.cric{
    position: relative;
}
.cric-p{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 28%;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-left: 36%;
}
.cric-p{
    display: none;
}
.cric:hover .cric-p{
display: block;
transform: translateY(5px);
animation: cric 0.5s linear;
}
.icon1{
    color: yellowgreen;
    margin-bottom: 1rem;
    transition: color 0.3s linear;
}
.icon1:hover{
    color: green;
}
.tf{
    background-color: #EAF6F6; 
width: 100.8%;
text-align: center;
}
.details-p{
transition: transform 0.7s ease-in-out;
}
.details-p:hover{
    transform: translateY(-10px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.475);
}
@keyframes FirstHeading {
    0%{
        transform: translateY(10px);
        text-shadow: 0 0 0 rgba(0, 0, 0, 0.475);
    }
    50%{
        transform: translateY(0);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.475);
    }
    100%{
        transform: translateY(10px);
        text-shadow: 0 0 0 rgba(0, 0, 0, 0.475);
    }
}
.tlh{
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.475);
animation-name: FirstHeading;
animation-duration: 2.5s;
animation-timing-function: ease-in;
animation-iteration-count: infinite;
}
@keyframes cric {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.sty{
    position: relative;
    display: block;
    height: 10px;
}
.tff{
    font-size: 7px;
    display: none;
    transform: translateY(-3px);
}
.sty:hover .tff{
    display: block;
    animation: circ 1s linear;
}
